.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.hovered-image {
    -webkit-filter: drop-shadow(1px 1px 0 red) drop-shadow(-1px 1px 0 red)
        drop-shadow(1px -1px 0 red) drop-shadow(-1px -1px 0 red);

    filter: drop-shadow(1px 1px 0 red) drop-shadow(-1px 1px 0 red) drop-shadow(1px -1px 0 red)
        drop-shadow(-1px -1px 0 red);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #949494;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

& .ant-progress-steps-item {
    width: 50px !important;
}
